<!DOCTYPE html>
<html>
<head>
    <title>
        {{{ pageTitle }}}
    </title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> 
    <link href="https://fonts.googleapis.com/css?family=Nunito&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{{ cssPath }}}">
    <link rel="stylesheet" type="text/css" href="../style/header.css">
    <script src="../js/script.js" defer></script>
</head>
<body>
    {{{ body }}}
</body>
</html>
