
#container{
    text-align: center;
    width: 350px;
    margin: auto;
}
#search_container{
    width: 350px;
    border-style: solid;
    border-width: 0.5px;
    border-color: rgb(211, 209, 209);
    border-radius: 3px;
    padding-bottom: 20px;
}
#artists_container{
    text-align: center;
    width: 300px;
    margin: auto;
}
input{
    width: 300px;
    height:25px;
    display: inline-block; 
    margin: 1px auto;
    border-radius: 3px;
    border-style: solid;
    border-width: 0.5px;
    border-color: rgb(211, 209, 209);
    border-radius: 3px;
    padding:4px;
}
button{
    text-align: center;
    font-size: 8pt;
    border-radius: 3px;
    border: none;
    text-decoration: none;
    display: inline-block;
    height:25px;
    width:auto;
    margin-top: 10px;
}

button:hover{
    background-color: rgba(22, 20, 20, 0.726);
    color:white;
}

.del_btn_col:hover{
    background-color: rgb(158, 7, 7);
    color:white;
}

h2{
    text-align: left;
    width: 300px;
    display: inline-block; 
    margin: 0 auto;
    padding: 20px;
}
#artists_container ul{
    margin:0;
    padding:0;
    list-style-type: none;
}

#artists_container li{
    width:300px;
    height:80px;
    border-style: solid;
    border-width: 0.5px;
    border-color: rgb(211, 209, 209);
    border-top: none;
}

#artists_container li:hover{
    background-color: rgb(228, 228, 228);
}

.artists_names{
    font-size: 12pt;
    margin-bottom: 0;
}

.artists_institutions{
    margin-top: 0;
    font-size: 9pt;
}

.img_col{
    width:20%;
    height:80px;
    float:left;
}
.info_col{
    width:55%;
    height:80px;
    float:left;
    margin-left: 10px;
}

.del_btn_col{
    width:15%;
    height:25px;
    float:left;
    margin-top: 25px;
    margin-left: 10px;
    background-color: red;
    color:white;
}

.img_col img{
    margin:12px;
    border-radius: 5px;
    width:60px;
    height:auto;
}

.info_col p{
    margin-left:12px;
    text-align: left;
}

#search_container p{
    text-align: left;
    margin: 25px;
    font-size: 18pt;
    font-weight: bold;
    font-family: "Trebuchet MS";
}

p {
    font-family: "Arial", "Times New Roman", Times, serif;
  }