<form action="/login" method="GET">
      <label><b>Member Login</b></label><br><br>
      <i class="fa fa-user icon"></i>
      <input type="text" placeholder="uername" name="uname" required><br>
      <i class="fa fa-key icon"></i>
      <input type="password" placeholder="password" name="psw" required><br>
      <button type="submit">Login</button>
</form>